<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% comment %} 'title', 'title_en','audience', 'open_date', 'genre', 'watch_grade', 
'score', 'poster_url','description' {% endcomment %}
</head>
<body>
    {% block body %}
        <h1>글 작성하기</h1>
        <form action="movie/create/">
            <label for="title">title : </label>
            <input id="title" type="text" name="title"><br>
            <label for="title_en">title_en : </label>
            <input id="title_en" type='text' name="title_en"><br>
            <label for="audience">audience : </label>
            <input id="audience" type='text' name="audience"><br>
            <label for="open_date">open_date : </label>
            <input id="open_date" type='text' name="open_date"><br>
            <label for="genre">genre : </label>
            <input id="genre" type='text' name="genre"><br>
            <label for="watch_grade">watch_grade : </label>
            <input id="watch_grade" type='text' name="watch_grade"><br>
            <label for="score">score : </label>
            <input id="score" type='text' name="score"><br>
            <label for="poster_url">poster_url : </label>
            <input id="poster_url" type='text' name="poster_url"><br>
            <label for="description">description : </label>
            <input id="description" type='text' name="description"><br>
            <input type="submit" value="작성하기!">
        </form>
    {% endblock %}
    
</body>
</html>